.the_person.per_web
  .wrapper
    .bunner
      = image_tag "img_bun_mob.png"
      %ul.soc_friend
        %li
          %a.s_fb{:href => ""}
        %li
          %a.s_tw{:href => ""}
        %li
          %a.s_vk{:href => ""}
        %li
          %a.s_go{:href => ""}
    .describe_person.web
      %h5=t("all.characteristiks")
      %ul.haract
        - @photo.descriptions.each_with_index do |item,i|
          %li{:class=>"har_#{(i+1)}"}
            %span
              = image_tag "web_img#{(i+1)}.png"
            %span=item.body
      %ul.mob_link
        %li
          %a.app_store{:href => ""}
        / %li
        /   %a.and_roid{:href => ""}