!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title Phiz home
      = stylesheet_link_tag "application", :media => "all"
      = javascript_include_tag "application"
      :javascript
        $(document).ready(function(){
          $(".ac_cord").each(function(){
            $(this).click(function(){
              if ($(this).hasClass("des")){
                $(this).next().slideDown(300);
                $(this).toggleClass("des");
              }
              else {
                $(this).toggleClass("des");
                $(this).next().slideUp(300);
              }
            return false;
            });
          });
          
        });
    %body
    .page
      .header
        .wrapper
          %ul.nav_menu
            %li
              = link_to t("all.home"),"#"
            / %li
            /   %a{:href => ""} Features
            / %li
            /   %a{:href => ""} How it works
            / %li
            /   %a{:href => ""} Screenshots
            / %li
            /   %a{:href => ""} Faq
            / %li
            /   %a{:href => ""} About
            / %li
            /   %a{:href => ""} Contact
          %a.logo
      = yield
      .clear
      #empty
      .footer
        .wrapper
          .copy=t("all.copy")
          %ul.fut_soc
            %li
              %a.f_b{:href => ""}
            %li
              %a.v_k{:href => ""}